.container{
    max-width: 1200px;
    margin: 0 auto;
}
*{
    margin: 0;padding: 0;box-sizing: border-box;
    list-style: none;text-decoration: none;
    font-family: "Mukta",  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
ul{
    margin: 0;
}
p{
    margin: 0;
}
h4{
    margin: 0;
}